/* Mobile */
 @media (max-width:739px) {
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    #nav li a{
        display: block;
        padding: 4px 24px; 
    }
    #nav .subnav {
        position: initial;
        background-color: rgb(58, 57, 57);
    }
    #nav .subnav a{
        color: #fff;
        padding: 4px 42px;
    }
    #nav .subnav a:hover{
        color: rgb(3, 3, 3);
    }
   
    #nav li {
        display: block;
    }
    
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    .s-col-full {
        width: 100%;
    }
    #content .member-img {
        width: 60%;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    .s-mt-16 {
        margin-top: 16px !important;
    }
    .btn {
        width: 100%;
    }
    
    
    
 }

 /* Tablet */
 @media (min-width: 739px) and (max-width: 1023px) {

 }

 /* PC */
@media (min-width: 1024px) {
    
}
/* Tablet & mobile */ 
@media (max-width: 1024px) {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 16px;
    }
    #footer .socials-list {
        font-size: 48px;
        
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copy-right a{
        padding: 15px 0;
        display: inline-block;
    }
    .contact-info {
        line-height: 2.1;
    }
}
/* PC & tablet */

@media (min-width: 739px) {
    #mobile-menu {
        display: none;
    }
}